<!DOCTYPE html>

<html>

<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <!--<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">-->
    <link rel="icon" href="./../public/tico.png" type="image/x-icon">
    <!--estilo CSS-->
    <link rel="stylesheet" href="./../resources/estilologin.css">
    <!-- bootstrap -->
    <link href='../../bootstrap.min.css' rel="stylesheet">


    <title>Terrarios Terraria</title>
</head>

<body>
    <div class="main">
        <div class="ontainer-xxl">
            <a href="./../index.html">
                <img id="imageLogin" src="../public/terramaz-01.png" alt="logoTerraria">
            </a>

            <div id="prueba">
                <form class="formlogin">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Usuario o correo electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        <p>No tienes una cuenta? <a href="registro.html">Registrate</a></p>
                    </div>
                    <div class="d-flex flex-column">
                        <button type="submit" class=" btn btn-success mt-2">Login</button>

                        <div class="imagenes">
                            <img src="../public/Face100x100.png" class="imge" alt="face">
                            <img src="../public/insta100x100.png" class="imge" alt="face">
                            <img src="../public/correo100x100.png" class="imge" alt="face">
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <script src="../../bootstrap.bundle.min.js"></script>

</body>

</html>