.nav-link {
    font-family: fontSave1;
    font-size: 150%;
}


.navbar-brand {
    font-family: marcadorFuente;
    text-shadow: 0 0 3px #10230e, 0 0 5px #19a611;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#textnav {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 2%;
    font-size: 100%;
}


#navbarNav {
    text-shadow: 0 0 3px #10230e, 0 0 5px #19a611;
}

@media (min-width: 0px) and (max-width: 420px) {
    #textnav {
        font-size: 100%;
        margin: 2%;
    }
}

@media (min-width: 900px) and (max-width: 1920px) {
    #textnav {
        font-size: 200%;
    }
}

/* fuentes */
@font-face {
    font-family: fontSave1;
    src: url(fonts/PlaypenSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: marcadorFuente;
    src: url(fonts/PermanentMarker-Regular.ttf);
}



#form-search {
    scale: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}


/* Whastapp container Style  */
.container-wsp {
    background-color: rgb(10, 146, 17);
    border: 2px solid rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: ease 0.3s;
    animation: ificto 1.2s infinite;
}

/* Whastapp container Style when you pass the mouse over the icon  */
.container-wsp:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Whastapp container Style size */
.button {
    width: 70px;
    transition: ease 1s;
}

@keyframes ificto {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}

/* Whastapp container Style when you pass the mouse over the icon  */
.card-img-top:hover {
    transform: scale(0.9);
    transition: 1.5s;
    opacity: 50;
}


.card {
    margin: 5%;
    padding: 2%;
}


.navbar-collapse {
    display: flex;
    flex-direction: row-reverse;
}


@media (min-width: 300px) and (max-width: 768px) {
    .navbar-collapse {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 2500px) {
    #dropdown-menu-collapsed {
        display: none;
    }
}


@media (min-width: 1300px) and (max-width: 2500px) {
    #spanCardsProducts {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
    }
}


@media (min-width: 950px) and (max-width: 1299px) {
    #spanCardsProducts {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-items: center;


    }
}


@media (min-width: 610px) and (max-width: 949px) {
    #spanCardsProducts {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;


    }
}

@media (min-width: 0px) and (max-width: 609px) {
    #spanCardsProducts {
        display: grid;
        justify-items: center;
    }
}



.shopping-car-item-title {
    word-break: break-all;
}

.item-price {
    word-break: break-all;
}

#carrito:hover {
    scale: 1.75;

}

.shoppingRows {
    border: 8px solid black;
    margin-bottom: 10px;
}

/* fotter */

@media (min-width: 0px) and (max-width: 460px) {

    #sigue {
        font-size: 50%;

    }
}

#sigue {
    text-shadow: 0 0 3px #10230e, 0 0 5px #19a611;

}

.parraf {
    text-shadow: 0 0 3px #10230e, 0 0 5px #19a611;

}




/* -------------------------------------------------modal texts */
/* -------------------------------------------------modal texts */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo modal: negro con opacidad al 50% */
.modalito {
    display: none;
    /* Por defecto, estará oculto */
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px;
    /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Algura completa */
    overflow: auto;
    /* Se activará el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5);
    /* Color negro con opacidad del 50% */
}

/* Ventana o caja modal */
.contenido-modal {
    position: relative;
    /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto;
    /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    border: 2px solid #000;
    box-shadow: 10px 10px 5px;
    border-radius: 1%;

}

/* Animación */

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Botón cerrar */
.close {
    color: rgb(78, 71, 71);
    float: right;
    font-size: 40px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    scale: 110%;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#span-data-client{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: auto;
    margin: 5px;
    padding: 25px;
    border-radius: 7%;
    box-shadow: 1px 1px 3px;
    background-color: rgb(193, 246, 187);   
}

#main-control{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    width: auto;
    align-items: center;
}

@media (min-width: 0px) and (max-width: 450px) {
    #main-control {
        flex-direction: column;
    }
}



.boltext {
    font-weight: bold;
}