.nav-link {
    font-family: fontSave1;
    font-size: 150%;
}


.navbar-brand {
    font-family: TimeSplittersFuente;
    text-shadow: 0 0 3px #10230e, 0 0 5px #19a611;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#textnav {
    padding-left: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 2%;
    font-size: 100%;
    font-size: 200%;
    color: rgb(155, 238, 0);
}

#button-mainmenu-search{
    color: black;
    border: 2px solid black; 
}

#button-mainmenu-search:hover{
    background-color: #9BEE00;
}

#button-mainmenu {
    background-color: rgb(155, 238, 0);
    color: black;
    border: 2px solid black;
}
#add-button{
    background-color: rgb(155, 238, 0);
    color: black;
    border: 2px solid black;
}



#button-mainmenu-exp {
    background-color: rgb(155, 238, 0);
    color: black;
    border: 2px solid black;
}

#img-nav {
    margin-left: 25%;
    box-shadow: 25px 23px 6px -9px rgba(0, 0, 0, 0.1);
}

@media (min-width: 0px) and (max-width: 420px) {
    #textnav {
        font-size: 150%;
        margin: 2%;
    }
}

@media (min-width: 900px) and (max-width: 1920px) {
    #textnav {
        font-size: 250%;
    }
}

/* fuentes */
@font-face {
    font-family: fontSave1;
    src: url(fonts/PlaypenSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: marcadorFuente;
    src: url(fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: TimeSplittersFuente;
    src: url(fonts/Future\ TimeSplitters.otf);
}


/* sombra en la barra de navegacion superior */
#navbarNav {
    text-shadow: 0 0 3px #9BEE00, 0 0 5px #19a611;
}

/* sombra en la barra de navegacion superior colapsada*/
#dropdown-menu-collapsed {
    text-shadow: 0 0 3px #9BEE00, 0 0 5px #19a611;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

#navegacion-inicio {
    border: 1px solid #232323;
}


#form-search {
    scale: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}


/* Whastapp container Style  */
.container-wsp {
    background-color: rgb(10, 146, 17);
    border: 2px solid rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: ease 0.3s;
    animation: ificto 1.2s infinite;
}

/* Whastapp container Style when you pass the mouse over the icon  */
.container-wsp:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Whastapp container Style size */
.button {
    width: 70px;
    transition: ease 1s;
}

@keyframes ificto {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}

/* Whastapp container Style when you pass the mouse over the icon  */
.card-img-top:hover {
    transform: scale(0.9);
    transition: 1.5s;
    opacity: 50;
}


.card {
    margin: 5%;
    padding: 2%;
}


.navbar-collapse {
    display: flex;
    flex-direction: row-reverse;
}


@media (min-width: 300px) and (max-width: 768px) {
    .navbar-collapse {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 2500px) {
    #dropdown-menu-collapsed {
        display: none;
    }
}

/* //tamaño grande ajuste grid productos */
@media (min-width: 1300px) and (max-width: 2500px) {
    #spanCardsProducts {
        display: grid;
        grid-template-columns: 25% 25% 25% 25% ;
    }
}

/* //tamaño medio  ajuste grid productos */
@media (min-width: 950px) and (max-width: 1299px) {
    #spanCardsProducts {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-items: center;
    }
}

/* //tamaño grande pequeño grid productos */
@media (min-width: 610px) and (max-width: 949px) {
    #spanCardsProducts {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;


    }
}

/* //tamaño pequeño ajuste grid productos */
@media (min-width: 0px) and (max-width: 609px) {
    #spanCardsProducts {
        display: grid;
        justify-items: center;
    }
}



.shopping-car-item-title {
    word-break: break-all;
}

.item-price {
    word-break: break-all;
}

#carrito:hover {
    scale: 1.75;

}

.shoppingRows {
    border: 8px solid black;
    margin-bottom: 10px;
}

/* fotter */

/* siguenos estilo sombra texto */
@media (min-width: 0px) and (max-width: 460px) {
    #sigue {
        font-size: 50%;
        text-shadow: 0 0 3px #9BEE00, 0 0 5px #19a611;
        ;
    }
}

/* resto del footer */
.container-fluid {
    color: rgb(155, 238, 0);
    text-shadow: 0 0 3px #9BEE00, 0 0 5px #19a611;
}


.parraf {
    text-shadow: 0 0 3px #9BEE00, 0 0 5px #19a611;
}

.shoppingItemCarItemTitle {
    font-size: small;
}

.shoppingCarItemPrice {
    font-size: x-small;
    width: 100px;
}

.shoppingCarItemQuantity {
    font-size: small;
    width: 35px;
}


.shoppingCarItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-comprar {
    display: flex;
    justify-content: center;
}

#ultimo-enlace {
    width: 300px;
}

@media (min-width: 0px) and (max-width: 250px) {
    #ultimo-enlace {
        width: 150px;
    }
}

#comprar-span {
    width: auto
}


/* swicth de cambio de color */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(155, 238, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(72, 74, 38);
}

input:focus+.slider {
    box-shadow: 0 0 2px #000000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}