<!DOCTYPE html>

<html>

<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">-->
    <link rel="icon" href="./public/tico.png" type="image/x-icon">
    <!--estilo CSS-->
    <link rel="stylesheet" href="./resources/estilosinicio.css">
    <!--bootstrap-->
    <link href='../bootstrap.min.css' rel="stylesheet">
    <title>Terrarios Terraria</title>
</head>


<body>
    <!--navigation bar-->
    <nav class="navbar navbar-expand-md px-3 sticky-top border border-secondary-subtle"
        style="background-color:rgb(143, 196, 73) ;">
        <!-- <div class="container-fluid"> -->
        <a class="navbar-brand" style="color: rgb(255, 255, 255); " href="index.html">
            <img src="./public/terramaz-01.png" width="60" height="60" alt="">
            <p id="textnav">Terrarios Terraria</p>
        </a>



        <form class="d-flex  justify-content-end m-2" role="search" id="form-search">
            <input class="form-control me-2 justify-content-start" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- menu collapsed -->
        <div class="dropdown" id="dropdown-menu-collapsed">
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./index.html">Home</a></li>
                <li><a class="dropdown-item" href="./views/productos0.1.html">Productos</a></li>
                <li><a class="dropdown-item" href="./views/acceso0.2.html">Login</a></li>
            </ul>
        </div>

    

        <!-- menu no collapsed -->
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./views/productos0.1.html">Productos</a>
                </li>
                <li class="nav-item" id="login-span">
                    <a class="nav-link text-light" href="./views/acceso0.2.html">Login</a>
                </li>
            </ul>
        </div>


        <!-- </div> -->
    </nav>
    <!--Whastapp container -->
    <div class="container-wsp">

        <a href="https://wa.me/573002732017?text=Deseo%20una%20Planta%20lok" target="_blank">
            <img class="button" src="./public/wsp100x100.png" alt="">
        </a>
    </div>


    <!--Carousel photos-->
    <div id="carouselExampleIndicators" class="carousel slide d-flex flex-direction-row" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner ">

            <div class="carousel-item active">
                <img src="./public/image.png" class="d-flex  w-75" alt="...">
            </div>
            <div id="carousel-item2" class="carousel-item">
                <img src="./public/image2.png" class="d-flex w-75" alt="...">
            </div>
            <div id="carousel-item3" class="carousel-item">
                <img src="./public/image3.png" class="d-flex w-75" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--Footer container -->
    <div class="container-fluid text-center py-4" style="background-color: rgb(143, 196, 73);">
        <div class="row">

            <div class="col-5" style="font-family: fontSave1; color: aliceblue; font-size:  150%;">
                <p id="sigue"> ¡SÍGUENOS EN NUESTRAS REDES SOCIALES! </p>

                <a href="https://www.facebook.com/terrariosterraria" target="_blank">
                    <img src="./public/Face100x100.png" width="60" height="60" alt="">
                </a>

                <a href="https://www.instagram.com/terrariosterraria/" target="_blank">
                    <img src="./public/insta100x100.png" width="60" height="60" alt="">
                </a>
            </div>
            <div class="col" style="font-family: fontSave1; color: aliceblue;">

                <p>
                    ¿Tenés una consulta?</p>
                <img src="./public/movil100x100.png" width="50" height="50" alt="">
                <p>
                    3002732017
                </p>


            </div>

            <div class="col">
                <br>
                <img src="./public/terramaz-01.png" width="120" height="120" alt="">
            </div>
            <div id="data">

            </div>
        </div>
    </div>


    <script src="../bootstrap.bundle.min.js"></script>
    <script src="./resources/index.js"></script>
    <!-- <script>
        // Obtener datos de la base de datos y mostrarlos
        fetch('/clientes')
            .then(response => response.json())
            .then(data => {
                const dataDiv = document.getElementById('data');
                data.forEach(item => {
                    const div = document.createElement('div');
                    div.textContent = `Campo 1: ${item.id_usuario}, Campo 2: ${item.nick_usuario}`;
                    dataDiv.appendChild(div);
                });
            });
    </script> -->
</body>



</html>